<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/weadmin.css">
    <link rel="stylesheet" href="../../static/layui-v2.6.8/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/font.css">
    <!--<link rel="stylesheet" href="../../../static/layui/css/public.css" media="all">-->
    <link rel="stylesheet" href="../../static/layui/css/public.css" tppabs="https://www.layui.site/layui/dist/css/layui.css"
          media="all">
    <script href="../../static/layui-v2.6.8/layui/layui.js"></script>
    <title>检查审核</title>
</head>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
				<a href="javascript:window.close(); ">首页</a> <a href="javascript:;">项目审核</a>
				<a href="javascript:;"> <cite>检查审核</cite></a>
			</span>
    <a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right" href="javascript:location.replace(location.href);"
       title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
        <!-- <i class="layui-icon" style="line-height:30px">&#x1002;</i> -->
    </a>
</div>
<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 we-search">
            已有检查信息搜索：
            <div class="layui-inline">
                <input class="layui-input" placeholder="患者身份证" name="pIdentificationNum" id="pIdentificationNum"  />
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <div class="weadmin-block" id="topline" name=""topline>
        <button class="layui-btn " onclick="checkSome()">
           批量审核
        </button>
    </div>
    <table class="layui-table"  lay-data="{ url:'http://localhost:8082/item/showItem', page:true, id:'allItem'}" lay-filter="allItem">
        <thead>
        <tr>
            <!--<th>-->
            <!--<div class="layui-unselect header layui-form-checkbox" lay-skin="primary">-->
            <!--<i class="layui-icon">&#xe605;</i>-->
            <!--</div>-->
            <!--</th>-->
            <th lay-data="{type:'checkbox', }"></th>
            <th lay-data="{field:'patientId'}">患者ID</th>
            <th lay-data="{field:'oDate', sort: true , templet: '#titleTpl'}">开单时间</th>
            <th lay-data="{field:'pIdentificationNum'}">患者身份证</th>
            <th lay-data="{field:'recipeName'}">项目名称</th>
            <th lay-data="{field:'price'}">项目单价</th>
            <th  lay-data="{fixed: 'right',align:'left', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
<script src="../../lib/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="barDemo">
    <a title="确认检查" lay-event="send"  class="layui-btn layui-btn-xs" ><i class="layui-icon">确认检查</i></a>
</script>
<script type="text/html" id="titleTpl">
    {{#
    var fn = function(data){
    return data.substring(0,10);
    };
    }}
    {{ fn(d.rdate) }}
</script>
<script>
    layui.extend({
        admin: '../../static/js/admin'
    });
</script>
<script src="../../static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/admin.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/layui-v2.6.8/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.jquery;
        //监听工具条
        //监听工具条，修改表格内容，在表格内，跟lay-filter绑定
        table.on('tool(allItem)', function (obj) {
            var data = obj.data;
            var json={
                "recipeName":data.recipeName,
                "pIdentificationNum":data.pIdentificationNum
            }
            console.log(json)
            if (obj.event === 'send') {
                layer.confirm('确定检查已完成吗', function (index) {
                    $.ajax({
                        type: "POST",   //提交的方法
                        url: "http://localhost:8082/item/setItemhavedone",
                        xhrFields: {
                            withCredentials: true,
                        },
                        dataType: "json",
                        contentType:'application/x-www-form-urlencoded',
                        data: json,
                        success: function (result) {
                            if (result.code == "0") {
                                layer.close(index);
                                layui.table.reload("test",{page:{curr:1}});
                            }else{
                                layer.msg("检查错误", {
                                    icon: 5
                                });
                            }
                        },
                        error : function() {
                            layer.msg('服务器错误', {
                                icon: 5
                            });
                        }
                    })
                });
            }
        });

    });
</script>
<script>
    layui.use('table', function() {
        var table = layui.table;
        var recipeNames = [];
        var pIdentificationNums = []
        table.on('checkbox(allItem)', function (obj) {
            console.log(obj.data)
            var flag = 0;
            for (let i = 0; i < recipeNames.length; i++) {
                if (pIdentificationNums[i] == obj.data.pIdentificationNum && recipeNames[i] == obj.data.recipeName) {
                    pIdentificationNums.splice(i, 1);
                    recipeNames.splice(i, 1);
                    i--;
                    flag = 1;
                }
            }
            if (flag == 0) {
                recipeNames.push(obj.data.recipeName);
                pIdentificationNums.push(obj.data.pIdentificationNum);
            }
        });


    })
    function checkSome() {
        console.log(recipeNames)
            var $ = layui.jquery;
            $.ajax({
                type: "POST",   //提交的方法
                url: "http://localhost:8082/item/setItemshavedone",
                xhrFields: {
                    withCredentials: true,
                },
                dataType: "json",
                data: JSON.stringify({
                    "recipeName": recipeNames,
                    "pIdentificationNum": pIdentificationNums
                }),
                contentType: "application/json",
                async: true,

                error: function (request) {  //失败的话
                    alert("Connection error");
                },
                success: function (data) {

                }
            })
        window.deltAll();
    }
</script>
<script>
    layui.use(['form', 'jquery','util','admin', 'layer'], function() {
        var form = layui.form,
            table = layui.table,
            $ = layui.jquery,
            util = layui.util,
            admin = layui.admin,
            layer = layui.layer;
        form.on('submit(search)',function (data){(
            table.reload('allItem', {
                url:"http://localhost:8082/item/searchitem",
                method: 'POST',
                contentType: 'application/json'
                , where: {
                    "pIdentificationNum":data.field.pIdentificationNum

                }, page: {
                    curr: 1 //重新从第 1 页开始
                }
            })

        )
            return false;
        })})
</script>
</body>
</html>
