<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/weadmin.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>

    <![endif]-->
</head>

<body>
<div class="weadmin-body">
    <form class="layui-form" lay-filter="user_infor">
        <div class="layui-form-item">
            <br>
            <label  class="layui-form-label" >旧密码</label>
            <div class="layui-input-inline">
                <input  type="password" id="old_password" name="old_password" autocomplete="off" lay-verify="required" class="layui-input" lay-reqtext="旧密码不能为空" placeholder="请输入旧密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" id="new_password" name="new_password" autocomplete="off" lay-verify="required" class="layui-input" lay-reqtext="新密码不能为空" placeholder="请输入新密码" >
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input  type="password"  lay-verify="required|confirmPass" class="layui-input" lay-reqtext="确认密码不能为空" placeholder="请再次输入新密码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="update">保存修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>
<script src="../../lib/layui/layui.js" charset="utf-8"></script>

<script>
    layui.use(['form','layer','util'], function(){
        var form = layui.form,
            $ = layui.jquery,
            util = layui.util,
            layer = layui.layer;
        // 校验两次密码是否一致

        form.verify({


            confirmPass:function(value){
                console.log( $("#new_password").val())
                console.log(value)
                if($("#new_password").val() != value)

                    return '两次密码输入不一致！';

            }

        });
        //监听提交
        form.on('submit(update)', function(data){
            // 获得frame索引
            // var newtimeNow = timeNow.split('-')[0] +timeNow.split('-')[1] +timeNow.split('-')[2]
            // var index = parent.layer.getFrameIndex(window.name);
            var json={
                "old_password":$("#old_password").val(),
                "new_password":$("#new_password").val()
            }
            $.ajax({
                type: "POST",   //提交的方法
                url:"http://localhost:8081/user/updatepassword",
                xhrFields: {
                    withCredentials: true,
                },
                dataType:"json",
                contentType:'application/x-www-form-urlencoded',
                data: json,//JSON.stringify({
                //     "old_password":$("#old_password").val(),
                //     "new_password":$("#new_password").val()
                // }),

                async: false,
                error: function(request) {  //失败的话
                    alert("Connection error");
                },
                success: function(data) {
                    alert(data.msg);
                }

            })
        });


    });



</script>
</body>

