<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>患者预约</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="../../static/css/font.css"/>
    <link rel="stylesheet" href="../../static/css/weadmin.css"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
				<a href="javascript:window.close(); ">首页</a> <a href="javascript:;">查看病历</a>
			</span>
    <a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right"
       href="javascript:location.replace(location.href);"
       title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
        <!-- <i class="layui-icon" style="line-height:30px">&#x1002;</i> -->
    </a>
</div>

<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 we-search">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>患者基本信息</legend>
            </fieldset>
            已有患者信息搜索：
            <div class="layui-inline">
                <input class="layui-input" placeholder="请输入18位身份证号" name="start" id="identityNum"/>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <div class="layui-inline">
                <div class="layui-form-mid layui-word-aux"> 支持按病人身份证号检索</div>
            </div>

        </form>
    </div>
    <!--    <div class="weadmin-block" id="topline" name="" topline>-->
    <!--        <button class="layui-btn" onclick="WeAdminShow('新增预约','./patient_add_yuyue.html',750,400);">-->
    <!--            <i class="layui-icon layui-icon-add-circle-fine"></i>新增预约-->
    <!--        </button>-->
    <!--    </div>-->

    <!--这里url改一下，根据实际后台接口-->
    <table class="layui-table" lay-data="{ url:'http://localhost:8082/history/viewallhis', page:true, id:'allhistory'}"
           lay-filter="allhistory">
        <thead>
        <tr>
            <th lay-data="{field:'historyId'}">病历编号</th>
            <!--<th lay-data="{field:'date', sort: true , templet: '#titleTpl'}">提交时间</th>-->
            <th lay-data="{field:'pIdentificationNum'}">患者身份证号</th>
            <th lay-data="{field:'clinicType'}">就诊类型</th>
            <th lay-data="{field:'diseaseDate', sort: true , templet: '#titleTpl'}">发病日期</th>
            <th lay-data="{fixed: 'right',align:'left', toolbar: '#barDemo'}">查看记录</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
<script src="../../lib/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="barDemo">
    <a title="查看" lay-event="view"><i class="layui-icon">&#xe63c;</i></a>
</script>
<script type="text/html" id="titleTpl">
    {{#
    var fn = function(data){
    return data.substring(0,10);
    };
    }}
    {{ fn(d.diseaseDate) }}
</script>

<script>
    var orders = []
    layui.use('table', function () {
        var $ = layui.jquery
        var table = layui.table;

        //监听工具条
        table.on('tool(allhistory)', function (obj) {
            var data = obj.data;
            console.log(data.historyId)
            // 删除病历操作
            // 查看病历操作
            if (obj.event === 'view') {
                var data = obj.data;
                // 以弹窗形式跳转到病历详情页面
                WeAdminShow('查看患者病历信息', './doctor_middle_checkInfo.html?historyId=' + data.historyId, 600, 400);
            }
        });
    });
</script>
<script>
    layui.use(['form', 'jquery','util','admin', 'layer'], function() {
        var form = layui.form,
            table = layui.table,
            $ = layui.jquery,
            util = layui.util,
            admin = layui.admin,
            layer = layui.layer;
        form.on('submit(search)',function (data){(
            table.reload('allRecord', {
                url:"http://localhost:8082/history/viewallhisbypid",
                method: 'POST',
                contentType:'application/x-www-form-urlencoded'
                , where: {
                    "pIdentificationNum": data.field.pIdentificationNum
                }, page: {
                    curr: 1 //重新从第 1 页开始
                }
            })

        )
            return false;
        })})
</script>

<script>
    <!--根据查询结果更新数据表格-->
    layui.use(['form', 'jquery', 'util', 'admin', 'layer'], function () {
        var form = layui.form,
            table = layui.table,
            $ = layui.jquery,
            util = layui.util,
            admin = layui.admin,
            layer = layui.layer;
        form.on('submit(search)', function (data) {
            data = data.field;
            var json={
                "pIdentificationNum":$("#pIdentificationNum").val()
            }
            $.ajax({
                type: "POST",   //提交的方法
                url: "http://localhost:8082//history/viewallhisbypid",
                xhrFields: {
                    withCredentials: true,
                },
                dataType: "json",
                contentType:'application/x-www-form-urlencoded',
                //url:"#",
                data: json,
                async: false,
                error: function (request) {  //失败的话
                    alert("Connection error");
                },
                success: function (data) {
                    if (data.code == 0) {
                        console.log(data.data)
                        form.val("allhistory", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                            "historyId": data.data.historyId,
                            "pName": data.data.pName,
                            "pIdentificationNum": data.data.pIdentificationNum,
                            "diseaseDate": data.data.diseaseDate
                        });
                    } else {
                        alert(data.msg);
                    }
                }
            })

            return false;
        })
    })
</script>
<script src="../../static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>