<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.AdminMapper">
    <update id="checkDoctorRegister" parameterType="com.hospital.entity.Patient">
        UPDATE doctor
        SET isValid=1
        WHERE dIdentificationNum = #{dIdentificationNum};
    </update>

    <select id="showDoctorRegister" resultType="com.hospital.entity.Doctor" >
        SELECT *
        FROM doctor
        WHERE isValid = 0;
    </select>

    <select id="selectitemsbypId" resultType="com.hospital.entity.Item" >
        SELECT *
        FROM item
        WHERE havePay = 1 AND patientId = #{patientId} AND itemHaveDone=0;
    </select>

    <select id="selectmedbypId" resultType="com.hospital.entity.Record" >
        SELECT *
        FROM record
        WHERE havePay = 1 AND patientId = #{patientId} AND medHaveDone=0;
    </select>


    <select id="getPatientIdByPid" resultType="java.lang.Integer" >
        SELECT patientId
        FROM patient
        WHERE pIdentificationNum = #{pIdentificationNum};
    </select>

    <select id="patientIsOrdered" resultType="java.lang.Integer" >
        SELECT isOrder
        FROM patient
        WHERE patientId = #{patientId};
    </select>

    <select id="showPatientTrac" resultType="com.hospital.entity.PatientVo" >
        SELECT `patient`.`patientId`, `patient`.`pName`, `patient`.`pIdentificationNum`, `record`.`dosage`, `trace`.`state`, `medicine`.`medName`, medicine.remains
        FROM `patient`, `trace`, `medicine`, `record`
        WHERE `patient`.`patientId` = `trace`.`patientId`
        AND `trace`.`patientId` = `record`.`patientId`
        AND `record`.`medName` = `medicine`.`medName`
        AND `trace`.`state` = 1;
    </select>

    <update id="updateTrace" parameterType="com.hospital.entity.PatientVo">
        UPDATE trace SET `state` =#{state} WHERE patientId = #{patientId} AND isValid=1
    </update>

    <update id="updateMedIsInPatient">
        UPDATE record
        SET `medHaveDone` = #{medHaveDone}
        WHERE record.patientId = #{patientId};
    </update>

    <update id="updateMedRemainsPut" parameterType="com.hospital.entity.PatientVo">
        UPDATE medicine
        SET `remains` = remains - #{dosage}
        WHERE medicine.medName = #{medName};
    </update>

    <update id="updateMedRemainsGet" parameterType="com.hospital.entity.PatientVo">
        UPDATE medicine
        SET `remains` = remains + #{dosage}
        WHERE medicine.medName = #{medName};
    </update>

</mapper>