<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.DoctorMapper">
    <insert id="add"  parameterType="com.hospital.mapper.DoctorMapper" useGeneratedKeys="true" keyProperty="doctorId">
        INSERT INTO doctor (dUsername,dPassword,dName,dIdentificationNum,dPhone,dOffice,dTitle)
        VALUES (#{dUsername},#{dPassword},#{dName},#{dIdentificationNum},#{dPhone},#{dOffice},#{dTitle});
    </insert>

    <select id="selectpwbydphone" resultType="java.lang.String">
        SELECT dPassword
        FROM doctor
        WHERE dPhone = #{dPhone};
    </select>

    <select id="selectBydPhone" resultType="java.lang.Integer">
        SELECT doctorId
        FROM doctor
        WHERE dPhone = #{dPhone};
    </select>

    <select id="selectpwbyid" resultType="java.lang.String" >
        SELECT dPassword
        FROM doctor
        WHERE doctorId = #{doctorId};
    </select>

    <select id="selectbyid" resultType="com.hospital.entity.Doctor" >
        SELECT *
        FROM doctor
        WHERE doctorId = #{doctorId};
    </select>

    <select id="selectByIdentificationNum" resultType="java.lang.Integer" >
        SELECT doctorId
        FROM doctor
        WHERE dIdentificationNum = #{did};
    </select>

    <select id="checkValidBydphone" resultType="java.lang.Integer">
        SELECT isValid
        FROM doctor
        WHERE dPhone = #{dPhone};
    </select>

    <update id="update" parameterType="com.hospital.entity.Doctor">
        UPDATE doctor
        SET dUsername=#{dUsername} , dName = #{dName}, dSkill = #{dSkill}
        WHERE doctorId=#{doctorId};
    </update>

    <update id="updatepw" parameterType="com.hospital.entity.Doctor">
        UPDATE doctor
        SET dPassword=#{dPassword}
        WHERE doctorId=#{doctorId}
    </update>

    <select id="selectbyName" resultType="java.lang.Integer" >
        SELECT doctorId
        FROM doctor
        WHERE dOffice = #{department} AND dName=#{dName} AND dTitle = "专家";
    </select>

    <update id="updatepId" >
        UPDATE doctor
        SET patientId=#{patientId}
        WHERE doctorId=#{doctorId}
    </update>

    <select id="selectbydepartment" resultType="java.lang.Integer" >
        SELECT patientId
        FROM doctor
        WHERE dOffice = #{department} AND dTitle = "普通";
    </select>

    <select id="getDoctor" resultType="com.hospital.entity.Doctor" >
        SELECT *
        FROM doctor
        WHERE dOffice = #{department} AND patientId=#{patientId};
    </select>
</mapper>
