<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.OrderMapper">

    <insert id="add"  parameterType="com.hospital.mapper.OrderMapper" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO `order` (patientId,doctorId,department,oDate,oType,oTime,isValid) VALUES (#{patientId},#{doctorId},#{department},#{oDate},#{oType},#{oTime},1)
    </insert>

    <select id="selectbyId" resultType="com.hospital.entity.Order" >
        SELECT * FROM `order` WHERE patientId = #{patientId}
    </select>

    <select id="countOrderNumberZ" resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `order` WHERE doctorId = #{doctorId} AND department = #{department} AND oType = #{oType} AND oTime = #{oTime} AND isValid=1
    </select>

    <select id="countOrderNumber" resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM `order` WHERE  department = #{department} AND oType = #{oType} AND oTime = #{oTime} AND isValid=1
    </select>

    <select id="selectValid" resultType="java.lang.Integer" >
        SELECT isValid FROM `order`  WHERE  patientId = #{patientId} AND orderId = #{orderId}
    </select>

    <delete id="deleteValid" >
        DELETE FROM `order` WHERE patientId=#{patientId} AND OrderId = #{orderId}
    </delete>

    <update id="updateisValid" >
        UPDATE `order`
        SET isValid=0
        WHERE oTime &lt;= #{oTime} AND oDate &lt;= #{oDate}
    </update>

    <select id="selectbyorderTime" resultType="java.lang.Integer" >
        SELECT orderId FROM `order`  WHERE  patientId = #{patientId} AND isValid=1
    </select>

    <select id="selectbydate" resultType="com.hospital.entity.Order" >
        SELECT * FROM `order`  WHERE  patientId = #{patientId} AND oDate BETWEEN #{startDate} and #{endDate}
    </select>

    <select id="haveOrder" resultType="com.hospital.entity.Order" >
        SELECT * FROM `order` WHERE patientId = #{patientId} AND isValid=1
    </select>

    <select id="checkOrder" resultType="java.lang.Integer" >
        SELECT patientId FROM `order` WHERE oTime &lt;= #{oTime} AND oDate &lt;= #{oDate} AND isValid=1
    </select>

    <update id="updateisValidById" >
        UPDATE `order`
        SET isValid=0
        WHERE orderId = #{orderId}
    </update>

</mapper>
