<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.RecipeMapper">
<!--    <insert id="add" parameterType="com.hospital.mapper.RecipeMapper" useGeneratedKeys="true" keyProperty="recipeId">-->
<!--        INSERT INTO recipe (doctorId, itemId, recipeName, dosage, units, frequency,-->
<!--                    days, `usage`, price, totalPrice, department, skinTestRes)-->
<!--        VALUES (#{doctorId}, #{itemId}, #{recipeName}, #{dosage}, #{units}, #{frequency},-->
<!--                    #{days}, #{usage}, #{price}, #{totalPrice}, #{department}, #{skinTestRes});-->
<!--    </insert>-->

    <insert id="add" parameterType="com.hospital.mapper.RecipeMapper" useGeneratedKeys="true" keyProperty="recipeId">
        INSERT INTO recipe (doctorId, patientId, recipeName, dosage, units, frequency,
                    days, `usage`, price, totalPrice)
        VALUES (#{doctorId},#{patientId}, #{recipeName}, #{dosage}, #{units}, #{frequency},
                    #{days}, #{usage}, #{price}, #{totalPrice});
    </insert>

</mapper>