<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.RecordMapper">
    <insert id="add" parameterType="com.hospital.mapper.RecordMapper" useGeneratedKeys="true" keyProperty="recipeId">
        INSERT INTO record (medName,doctorId, patientId, dosage, units, frequency,
        days, `usage`, medPrice,recordDate)
        VALUES (#{medName},#{doctorId},#{patientId}, #{dosage}, #{units}, #{frequency},
        #{days}, #{usage}, #{medPrice},#{recordDate});
    </insert>

    <update id="setMedHaveDone" >
        UPDATE record
        SET medHaveDone=1
        WHERE patientId = #{patientId} AND medName=#{medName};
    </update>

    <update id="setMednotHaveDone" >
        UPDATE record
        SET medHaveDone=0
        WHERE patientId = #{patientId} AND medName=#{medName};
    </update>

    <select id="selectmed" resultType="com.hospital.entity.Record" >
        SELECT *
        FROM record
        WHERE havePay = 1 AND  medHaveDone=0;
    </select>

    <select id="selectmedGET" resultType="com.hospital.entity.Record" >
        SELECT *
        FROM record
        WHERE havePay = 1 AND  medHaveDone=1;
    </select>

    <select id="getRdate" >
        SELECT recordDate
        FROM record
        WHERE patientId = #{patientId} AND medName=#{medName} AND havePay = 1 AND  medHaveDone = 1;
    </select>

    <select id="selectById" resultType="java.lang.Integer" >
        SELECT medHaveDone
        FROM record
        WHERE patientId = #{patientId};
    </select>

    <select id="selectmedbypIdentificationNum" resultType="com.hospital.entity.Record" >
        SELECT *
        FROM record
        WHERE havePay = 1 AND  medHaveDone=0 AND pIdentificationNum=#{pIdentificationNum};
    </select>

    <select id="selectnotmedbypIdentificationNum" resultType="com.hospital.entity.Record" >
        SELECT *
        FROM record
        WHERE havePay = 1 AND  medHaveDone=1 AND pIdentificationNum=#{pIdentificationNum};
    </select>

    <select id="getRecord" >
        SELECT *
        FROM record
        WHERE patientId = #{patientId} AND medName=#{medName} AND havePay = 1 AND  medHaveDone = 1;
    </select>
</mapper>